@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200;
}

.csl-entry {
  @apply my-5;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #88888841;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.input-container {
  position: relative;
  /* display: flex; */
  align-items: center;
}

.input-search {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.input-search::placeholder {
  color: transparent;
}

.input-search:focus::placeholder {
  color: rgb(131, 128, 128);
}

.input-search:focus,
.input-search:not(:placeholder-shown) {
  background-color: #fff;
  /* border: 1px solid rgb(100, 100, 100); */
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 40px;
}

.icon-search {
  position: absolute;
  left: 0;
  top: 8px;
  height: 25px;
  width: 25px;
  background-color: #fff;
  /* border-radius: 10px; */
  z-index: -1;
  /* fill: rgb(92, 92, 92); */
  /* border: 1px solid rgb(68, 68, 68);  */
}

.input-search:hover+.icon-search {
  transform: rotate(360deg);
  transition: 0.2s ease-in-out;
}

.input-search:focus+.icon,
.input-search:not(:placeholder-shown)+.icon-search {
  z-index: 0;
  background-color: transparent;
  border: none;
}

.inputMB {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5,
    -20px -20px 60px #ffffff;
  transition: 0.3s;
}

.inputMB:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
    inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}



.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {

  margin-bottom: -10px;
}



.ReactPaginate li a {
  border-radius: 7px;
  padding: 0.5rem 1rem;
  border: gray 1px solid;
  cursor: pointer;
  box-shadow: 2px 0px 2px rgb(70, 70, 70);
}

.ReactPaginate li.previous a,
.ReactPaginate li.next a,
.ReactPaginate li.break a {
  border-color: transparent;
  border: gray 1px solid;
}

.ReactPaginate li.selected a {
  background-color: #008080;
  border-color: transparent;
  color: white;
  min-width: 32px;
}

.ReactPaginate li.disabled a {
  color: grey;
}

.ReactPaginate li.disable,
.ReactPaginate li.disabled a {
  cursor: default;
}